/*
** Global CSS config
*/

/* Imports */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

:root {
  --main-blue: #0065fc;
  --secondary-blue: #deebff;
  --main-background: white;
  --main-grey: #f2f2f2;
}

body {
  background-color: var(--main-background);
  font-family: "Raleway", sans-serif;
  margin-left: 30px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  flex-direction: row;
}

.title {
  font-weight: bold;
  font-size: 14px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  align-items: stretch;
  height: 10vh;
}

img.logo {
  align-self: center;
  height: 40px;
}

nav {
  display: flex;
  align-items: stretch;
  width: 30%;
  font-size: 14px;
}

main {
  margin: 10px;
}

main h3 {
  margin: 0;
}

.title p {
  margin-top: 10px;
  font-size: 14px;
}

/* TODO: Spécifier les icones */
.fas:before {
  font-size: 16px;
  color: var(--main-blue);
}

input:focus {
  outline: none;
}

.icon {
  color: var(--main-blue);
  background-color: var(--secondary-blue);
  padding: 10px;
  border-radius: 50%;
}

.icons:hover {
  cursor: pointer;
}

/* Generic container */

.container {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}

.container-column {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.headline {
  font-size: 18px;
}

.box {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}
