/* Filter component */

.filter-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.filter {
  display: flex;
  align-items: center;
  border-radius: 20px;
  gap: 10px;
  border-top: 2px solid var(--main-grey);
  border-right: 2px solid var(--main-grey);
  border-bottom: 2px solid var(--main-grey);
  padding-right: 10px;
}

/* Search component */

.search {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
  height: 45px;
}

.search button {
  border-radius: 0 10px 10px 0;
  background-color: var(--main-blue);
  color: white;
  border: none;
  padding: 15px;
}

.search form {
  display: flex;
}

.filter:hover {
  color: white;
  background: var(--main-blue);
  cursor: pointer;
}

.search > button:hover {
  cursor: pointer;
}

.search > form > input::placeholder {
  padding-left: 10px;
}

.search > form > input {
  font-weight: bold;
  border: 1px solid var(--main-grey);
}

.search > span.icons {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  background-color: var(--main-grey);
}

/* Nav component */

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

ul.menu li {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--main-background);
  padding: 40px 20px 0px 20px;
}

ul.menu li:hover {
  border-top: 2px solid var(--main-blue);
  color: var(--main-blue);
}

ul.menu a,
ul.menu a:visited {
  text-decoration: none;
  color: inherit;
}

ul.menu a:hover {
  text-decoration: none;
}

/* Info component */

div.info {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.info p {
  font-size: 12px;
}

span.info-icon {
  display: flex;
  justify-content: center;

  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid gainsboro;
  color: var(--main-blue);
  border-radius: 50px;
}

span.info-icon ::before {
  font-size: 10px;
}

/* Card component */

.card {
  background-color: white;
  padding: 5px 5px 10px 5px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 150px;
  cursor: pointer;
  position: relative;
  flex-basis: 30%;
}

.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.card img {
  height: 100px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-description {
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.card-description .stars-rating {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.card-description > .stars-rating > .fas::before {
  font-size: 10px;
  color: var(--main-blue);
  margin-right: 1px;
}

.card-description > .stars-rating > .fas.grey-star::before {
  color: var(--main-grey);
}

.card-description .content {
  font-size: 11px;
  margin-top: 5px;
}
.card-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.places {
  background-color: var(--main-grey);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: baseline;
}

#display-more {
  margin-top: 50px;
}

#all.places {
  flex: 2;
  justify-content: center;
}

#other.places {
  flex: 1;
}

.title-icon {
  display: flex;
  justify-content: space-between;
}

.title-icon .fas:before {
  font-size: 20px;
}

.most-popular.card-list {
  display: flex;
  flex-direction: column;
}

.most-popular.card {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100%;
}

.most-popular.card img {
  width: 140px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.most-popular > .card-description.stars-rating {
  position: absolute;
  bottom: 0px;
}

.most-popular > .card-description {
  margin: 10px 20px 10px 20px;
}

.most-popular.places {
  width: 33%;
}

.interests {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.column-single {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.column-single > .single > img {
  height: 350px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  max-width: 100%;
}

.single a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.double a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.single {
  position: relative;
}

.double {
  position: relative;
}

.column-double {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.column-double > .double > img {
  height: 120px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  max-width: 100%;
}

.double {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}

.single {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px;
}

.single > .title {
  padding: 15px;
}

.double > .title {
  padding: 15px;
}
