/* Filter component */

.filter-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#filter {
  display: flex;
  align-items: center;
}

#filter button {
  border-radius: 50px;
  background-color: white;
  border: 2px solid gainsboro;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 45px;
}

#filter button span {
  font-weight: bold;
  font-size: 14px;
}

#filter span.icons {
  left: 45px;
  font-size: 20px;
}

#filter span.icons .icon-background {
  color: var(--secondary-blue);
}

/* Search component */

#search {
  display: flex;
  align-items: stretch;
  margin-top: 20px;
}

#search button {
  border-radius: 0 10px 10px 0;
  background-color: var(--main-blue);
  color: white;
  border: none;
}

#search button:hover {
  cursor: pointer;
}

#search input {
  font-weight: bold;
}

#search span.icons {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  background-color: var(--main-grey);
}

/* Nav component */

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-evenly;
}

ul.menu li {
  display: flex;
  align-items: center;
  border-top: 2px solid var(--main-background);
  padding: 0px 10px;
}

ul.menu li:hover {
  border-top: 2px solid var(--main-blue);
  color: var(--main-blue);
}

ul.menu a,
ul.menu a:visited {
  text-decoration: none;
  color: inherit;
}

ul.menu a:hover {
  text-decoration: none;
}

/* Info component */

div.info {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.info p {
  font-size: 12px;
}

span.info-icon {
  display: flex;
  justify-content: center;

  margin-right: 10px;
  width: 20px;
  height: 20px;
  border: 1px solid gainsboro;
  color: var(--main-blue);
  border-radius: 50px;
}

span.info-icon ::before {
  font-size: 10px;
}

/* Card component */

.card {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  width: 210px;
}

.card img {
  height: 120px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.card-description {
  margin-left: 10px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.card-description .stars-rating {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.card-description > .stars-rating > .fas::before {
  font-size: 12px;
  color: var(--main-blue);
}

.card-description > .stars-rating > .fas.grey-star::before {
  color: var(--main-grey);
}

.card-description .content {
  font-size: 14px;
  margin-top: 5px;
}
.card-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.places {
  background-color: var(--main-grey);
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-icon {
  display: flex;
  justify-content: space-between;
}

.title-icon .fas:before {
  font-size: 20px;
}

#most-popular.card-list {
  display: flex;
  flex-direction: column;
}

#most-popular.card {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 350px;
}

#most-popular.card img {
  width: 140px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

#most-popular > .card-description.stars-rating {
  position: absolute;
  bottom: 0px;
}

#most-popular > .card-description {
  margin: 10px 20px 10px 20px;
}
